* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #d4d4d4;
  }
  
  /*container to center the dashboard */
  .container {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #dd4a4a;
    color: #ffffff;
    padding: 10px;
  }

  section form {
    margin-bottom: 20px;
    padding: 10px;
  }

  section {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  
  .card-img-top {
    height: 100px;
    width: auto;
  }

  .card {
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    margin-bottom: 5px;
  }
  
 